<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI-Based Personalized Skin Health Recommendation System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav>
    <div class="logo">
        <h2>Skincare AI</h2>
    </div>

    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Assessment</a></li>
        <li><a href="#">About</a></li>
    </ul>
</nav>

<div class="container">

    <h1>AI-Based Personalized Skin Health</h1>

<h3>Recommendation System</h3>

    <p>
        This application helps users understand their skin health
        by providing personalized recommendations based on
        skin type, lifestyle, and environmental conditions.
    </p>

    <a href="#assessment">
    <button>Get Started</button>
</a>

</div>
<section class="features">

    <h2>Our Features</h2>

    <div class="feature-box">

        <div class="card">
            <h3>Skin Analysis</h3>
            <p>Analyze your skin type and health information.</p>
        </div>

        <div class="card">
            <h3>AI Recommendation</h3>
            <p>Receive personalized skincare suggestions.</p>
        </div>

        <div class="card">
            <h3>UV & Weather</h3>
            <p>View weather and UV information for better skin care.</p>
        </div>

        <div class="card">
            <h3>Daily Skin Tips</h3>
            <p>Get simple tips to maintain healthy skin every day.</p>
        </div>

    </div>

</section>
<section class="assessment" id="assessment">

    <h2>Skin Assessment</h2>

  <form action="/recommend" method="POST">

    <input type="text" name="name" placeholder="Enter Your Name">

    <input type="number" name="age" placeholder="Enter Your Age">

    <select name="gender">
        <option>Select Gender</option>
        <option>Male</option>
        <option>Female</option>
    </select>

    <select name="skin_type">
        <option>Select Skin Type</option>
        <option>Dry</option>
        <option>Oily</option>
        <option>Combination</option>
        <option>Normal</option>
        <option>Sensitive</option>
    </select>

    <input type="text" name="city" placeholder="Enter Your City">

    <select name="water_intake">
        <option>Daily Water Intake</option>
        <option>Less than 2 Litres</option>
        <option>2 - 3 Litres</option>
        <option>More than 3 Litres</option>
    </select>

    <select name="sunscreen_usage">
        <option>Sunscreen Usage</option>
        <option>Always</option>
        <option>Sometimes</option>
        <option>Never</option>
    </select>

    <input type="number" name="outdoor_hours" placeholder="Hours Spent Outdoors Per Day">

    <button type="submit">Get Recommendation</button>

</form>

</section>

</body>
</html>